 *{
  margin: 0;
  padding: 0;

 }

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7rem;
  background-color: #ff7f00;
  color: white;
}

.nav-links{
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
}
.nav-links > a {
  color: white;
  text-decoration: none;
}

.nav-links > a:hover{
  color: #0000ff;
}
